.modal {
  background: #444;
  height: 400px;
  width: 90%;
  z-index: 999;
  border-radius: 3px;
  box-shadow: 8px 8px 15px #111;
  padding: 2%;

  button {
    position: absolute;
    top: 0;
    right: 5%;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 10px #111;

    &:hover {
    background: #777;
    }
  }

  div {
    margin: 5% 10%;
    height: 90%;
    font-family: Helvetica;
    color: #fff;
    overflow: auto;
  }
}
