.landing-container {
  height: 100%;
  background: url('../../assets/background.jpg') #666 no-repeat;
  background-position-y: top;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px 10px #777;
  text-align: center;
  margin-left: 15px;
  display: inline-block;
}

#title-container {
  text-align: center;
  height: 250px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 50px;
  width: 50px;
  display: inline-block;
}