header {
  margin: 0;
  font-size: 10vw;
  height: 18vw;
  background: #004a14;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 2vw;

  & button {
    background: #001910;
    position: absolute;
    border: none;
    color: #fff;
    height: 18vw;
    width: 18vw;
    font-size: 15vw;
    cursor: pointer;

  & .logout {
      float: right;
      margin-right: 2vw;
      cursor: pointer;
      font-size: 1.25rem;

      &:hover {
        color: #aaa;
      }
    }
  }
}

#header-title-container {
  margin: 0 auto;
  flex: 1;
  text-align: center;
}

#header-title {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 10px #777;
  text-align: center;
  margin-left: 15px;
  display: inline-block;
  user-select: none;
  cursor: default;
}

#header-logo {
  height: 12vw;
  width: 12vw;
  display: inline-block;
}
