.google-oauth {
  display: block;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  margin: 0 auto;
  width: 70%;
  background-color: #4285F4;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
    & svg {
      display: inline;
      vertical-align: middle;
      height: 10vw;
      width: 10vw;
    }
    & p {
      display: inline-block;
      vertical-align: middle;
    }
}
