@import '../../style/lib/vars';

.search-result {

  h3 {
    display: inline-block;
    font-size: 4vw;
    margin-left: 2.5%;
  }

  p {
    display: inline-block;
    margin: ($gutter-sm / 2) $gutter-sm;
  }

  .reserve {
    color: $color-primary;
    border: 2px solid $color-primary;

    border-radius: 3px;
    padding: ($gutter-sm / 2) $gutter-sm;
    background: $white;
    color: $color-primary;
    outline: none;
    margin: $gutter-sm;
    font-size: 2vw;

    &:hover {
      background: $color-primary;
      color: $white;
    }
  }
}

.lot-address, .lot-description {
  font-size: 3vw;
}

.search-result-main {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background: transparent;
  font-size: 2vw;
  border: none;
  border-top: 1px solid #ddd;
  background: linear-gradient($list-shade, $white);
  padding: $gutter-sm;
  outline: none;
}

.search-result-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
