@import '../../style/lib/vars';

.host-lot-form {
  position: relative;

  h3 {
    display: inline-block;
    font-size: 4vw;
    margin-left: 2.5%;
    width: 75%;
  }

  button {
    border-radius: $border-radius;
    // padding: ($gutter-sm / 2) $gutter-sm;
    background: $white;
    outline: none;
    font-size: 2vw;
  }

  .remove {
    color: $error;
    border: 2px solid $error;
    margin-left: auto;
    margin-bottom: 2%;
    position: absolute;
    top: 0;
    right: 35px;
    float: right;

    &:hover {
      background: $error;
      color: $white;
    }
  }

  .edit {
    color: $edit;
    border: 2px solid $edit;
    position: absolute;
    // right: 0;
    bottom: 0;

    &:hover {
      background: $edit;
      color: $white;
    }
  }
}
