@import '../../style/lib/vars';

.host-lot-form {
  position: relative;

  input {
    margin: $gutter-sm / 2 0;
    font-size: 3.5vw;
  }

  h3 {
    display: inline-block;
    font-size: 4vw;
    margin: 0;
  }

  button {
    border-radius: $border-radius;
    padding: ($gutter-sm / 2) $gutter-sm;
    background: $white;
    outline: none;
    font-size: 3vw;
  }

  .remove {
    color: $error;
    border: 2px solid $error;
    padding: $gutter-sm/2 $gutter-sm;
    

    &:hover {
      background: $error;
      color: $white;
    }
  }

  .spacer {
    flex: 1;
  }
}

.lot-update-header {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

button.lot-update-header {
  background: transparent;
}